/* Table of contents
    1. General stylings and basic tags
    2. Main navigation bar
    3. Side navigation bar
    4. Meta information
    5. Main and content styles
    6. Email Form
    7. Sidepanel
    8. Adjacent navigation bar
    9. Footer */

/* 1. General stylings and basic tags */

:root {
    font-family: "Fira Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-clr);
    hyphens: auto;

/*    --clr-link: #7fced1;
    --clr-link-hover: #00babc;
    --bg-clr-active: #f8cef5;
    --bg-clr-hover: #f1abdb;

    --font-clr: #4B4E6D;
    --bg-clr: white;
	   --clr-link: #7fced1;
    --clr-link-hover: #00babc;
    --bg-clr-active: #f8cef5;
    --bg-clr-hover: #f1abdb;

    --font-clr: #4B4E6D;
    --bg-clr: white;*/   
	
	--fst-clr-bg: #f1f5ff;
	--fst-clr-weak: #97b6f0;
    --fst-clr: #6E98E8;
    --snd-clr-weak: #ecb1a2;
    --snd-clr: #DC755C;

    --font-clr: #4B4E6D;
	/*--bg-clr: #F9F4F5;*/ --bg-color: #F3F3F3;
}

b {
	font-weight: 500;
}

linked {
	display: block;
}

h1:hover .heading-anchor,
h2:hover .heading-anchor,
h3:hover .heading-anchor,
h4:hover .heading-anchor {
	opacity: 1;

}

.spoiler {
    width: max-content;
    inline-size: fit-content;
	display: inline;
    padding: 0 0.1rem;
	color: #f9f9f9;
	background-color: #f9f9f9;
}

.spoiler:hover {
	color: var(--font-clr);
    transition-property: color;
    transition-duration: 0.2s;
}

.spoiler > input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.spoiler > label {
    cursor: pointer;
}

input:checked + label{
	color: var(--font-clr);
}

.img {
	width: 100%;
	margin: 1rem 0;
}

img {
	object-fit: cover;
}

.imgcaption {
	font-size: 0.8rem;
}

summary .heading {
	border-bottom: none;
}

ol, ul {
    padding-left: 1.5rem;
}

.invisible-list {
	list-style: none;
}

li {
	margin-bottom: 0.5rem;
}

.ol-mark, .ul-mark {
	color: var(--snd-clr);
}

li::marker{
	color: var(--snd-clr);
}

.font-fira-code {
	font-family: 'Fira Code', monospace;
}


.hint {
    padding: 0px 0px 12px;
}

.info, .warning, .error, .resolved {
	background-color: #f5f7f9;
    border-width: 0;
    padding: 14px 10px 7px 10px;
    border-top-left-radius: 4px;
    border-left-width: 4px;
    border-bottom-left-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    border-style: solid;
}

.info {
	border-color: #8cb3ff;
}

.warning {
	border-color: #fdf180da;
}

.error {
	border-color: #ff8c8c;
}

.resolved {
	border-color: #82f382;
}

.hint summary {
    border-bottom: none;
    list-style: none;
    margin-top: 0em;
    margin-bottom: 0rem;
    padding-bottom: 0.5rem;
	line-height: 1.5;
    cursor: pointer;
}

code {
    background: #f9f9f9;
    padding: 0 0.1rem 0 0.1rem;
}

pre > code {
    background: none;
}

@media screen and (min-width: 725px) {
    :root {
        hyphens: none;
    }
}

/* 2. Main navigation bar */

/* 3. Side navigation bar */

/* 4. Meta information */

/* 5. Main and content styles */

code pre, .code pre, .linenos pre, .highlight > pre {
    font-family: "Fira Code", monospace;
}

pre p {
    margin-bottom: 1.2em;
}

.highlight {
    padding: 1em;
    margin-bottom: 1em;
    max-width: 100%;
    overflow: auto;
    font-size: 0.9rem;
}

.filename {
    position: absolute;
    right: 0.8rem;
    font-size: .75rem;
    margin: 0.6rem 0 0 0;
    color: hsla(0,0%,100%,.4);
}

.highlight > pre {
    padding: 0 1em;
}
.linenos {
    padding: 0 1em 0 0;
    vertical-align: top;
}

/* 6. Email Form */

/* 7. Sidepanel */

/* 8. Adjacent navigation bar */

/* 9. Footer */

.links > * {
    display: flex;
    color: inherit;
}
.links > * + *::before {
    content: "|";
    display: block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: var(--font-clr);
}
